# Project Specific
normal_outputs/
tapt_outputs/
test_data/
*.zip

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
.cursorignore
.cursorindexingignore

# Build/Dist
build/
dist/
*.egg-info/
